name: call_log
description: A Flutter plugin to access and query call history log. Support for Android only as iOS does not provide API for accessing call history.
version: 3.2.2
homepage: https://github.com/4Q-s-r-o/call_log

environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: ">=1.10.0"

dependencies:
  flutter:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: sk.fourq.calllog
        pluginClass: CallLogPlugin
