name: call_log
description: A Flutter plugin to access and query call history log. Support for Android only as iOS does not provide API for accessing call history.
version: 6.0.0
homepage: https://github.com/4Q-s-r-o/call_log

environment:
  sdk: '>=3.6.0 <4.0.0'
  flutter: ">=3.27.0"

dependencies:
  flutter:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: sk.fourq.calllog
        pluginClass: CallLogPlugin
